<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <appender name="DEFAULT" class="org.apache.log4j.RollingFileAppender">  	  
  	<param name="Threshold" value="DEBUG"/>
  	<param name="MaxBackupIndex" value="2"/>  	
  	<param name="MaxFileSize" value="100GB"/>  	
  	<param name="File" value="C:/apache-tomcat-9.0.5/logs/csp_test/csp_test.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%t] [%c] %m%n"/>
    </layout>
  </appender>

  <category name="csptest">
    <priority value="DEBUG"/>
  </category>
   
  <root>
    <priority value="DEBUG" />
    <appender-ref ref="DEFAULT"/>
  </root>
  
</log4j:configuration>